[submodule "rasa/tensorflow"]
	path = rasa/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "asr/esb/diagnostic-dataset"]
	path = asr/esb/diagnostic-dataset
	url = https://huggingface.co/datasets/esb/diagnostic-dataset
[submodule "server/tmdbsimple"]
	path = server/tmdbsimple
	url = https://github.com/celiao/tmdbsimple